/*  your css code here. If applicable */
body{
	font-family: Arial, sans-serif;
}
input[type="text"]{
	width:100%;
	padding:10px;
	margin-bottom:10px;
	box-sizing:border-box;
}

.delete{
	background-color:red
}